iot.codeabs.com {
    reverse_proxy /socket.io/* app:3000 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
        header_up Connection {>Connection}
        header_up Upgrade {>Upgrade}
    }

    reverse_proxy app:3000 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
        header_down Strict-Transport-Security "max-age=31536000;"
    }
}
